<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="height=device-height,
                      width=device-width, initial-scale=1.0,
                      minimum-scale=1.0, maximum-scale=1.0,
                      user-scalable=no, target-densitydpi=device-dpi">
    <meta http-equiv="refresh" content="300">
    <title>Open Irrigation</title>
    <link rel="stylesheet" href="static/styles/main.css" />
    <link rel="icon" type="image/x-icon" href="static/pictures/favicon.ico">
</head>

<body>
    <div class="general">
        <div class="mobileTopRow1">
            {% block topRow1 %}
            {% endblock %}
        </div>
        <div class="mobileContent">
               {% block content %}
               {% endblock %}
        </div>
        <div class="bottomMenuBar">
               {% block bottomMenu %}
               {% endblock %}
        </div>
    </div>
</body>

</html>
