<!DOCTYPE html>
<html>
    <script type="text/javascript">
        function gcd (a, b) {
            return (b == 0) ? a : gcd (b, a%b);
        }
        var w = screen.width;
        var h = screen.height;
        if (w/h <= 1 ) {
            // if screen is square or long
            window.location = '/mobile'; //redirect to mobile page
        }
    </script>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="height=device-height, 
                      width=device-width, initial-scale=1.0, 
                      minimum-scale=1.0, maximum-scale=1.0, 
                      user-scalable=no, target-densitydpi=device-dpi">
    <meta http-equiv="refresh" content="300">
    <title>Open Irrigation</title>
    <link rel="stylesheet" href="static/styles/main.css" />
    <link rel="icon" type="image/x-icon" href="static/pictures/favicon.ico">
</head>

<body>
    <div class="general">
        <div class="topbarsBackground">
        <div class="topBars topbar">
            <div class="columnRight" style="margin-right: 2vw;">
                <a href="{{url_for('settings')}}"><image class="topBarIcons" src="static/pictures/settings.svg"/></a>
            </div>
            <div class="columnRight">
                <a href="{{url_for('user')}}"><image class="topBarIcons" src="static/pictures/user.svg"/><div class="topBarText"> {{ username }}</div></a>
            </div>
            <div class="columnRight">
                <a href="{{url_for('index')}}"><image class="topBarIcons" src="static/pictures/tool.svg"/></a>
            </div>
            <div class="columnRight">
                <a href="{{url_for('index')}}"><image class="topBarIcons" src="static/pictures/monitor.svg"/></a>
            </div>
            <div class="columnRight">
                {% if icon != None %}
                    <a href="https://openweathermap.org/city/{{ location }}" target="_blank"><image class="topBarWeather" src="static/pictures/wxIcons/{{ icon }}.png"/></a>
                {% endif %}
            </div>
            <div class="columnLeft">
                <a href="{{url_for('index')}}"><image class="columnLeftLogo" src="static/pictures/logo.svg"/><div class="columnLeftText"> OpenIrrigation <div></a>
            </div>
        </div>

        <div class="topBars topbar gray">
            {% block topbar %}
            {% endblock %}
        </div></div></div></div>
        <div class="maincontainer">
            <div class="inlineLeft">
                {% block leftmenu %}
                {% endblock %}
            </div>
            <div class="inlineRight">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>
