{% extends 'base.html' %}

{% block topbar %}
    <a href="{{url_for('index')}}"><div class="greyBarLink"> Home </div></a> 
    <div class="greyBarDivider"> • </div>
    <a href="{{url_for('index')}}"><div class="greyBarLink"> {{ overviewSelected }} </div></a>
{% endblock %}

{% block leftmenu %}
<form action="" method="POST">
        {% if overviewSelected == "Irrigation" %}
            <button input name="overviewSelected" type="submit" value="Irrigation" class="button buttonActive">
                <image class="buttonIcons buttonIconSprinkler" src="static/pictures/sprinkler-green.svg"/>Irrigation
            </button>
        {% else %}
            <button input name="overviewSelected" type="submit" value="Irrigation" class="button button1">
                <image class="buttonIcons buttonIconSprinkler" src="static/pictures/sprinkler.svg"/>Irrigation
            </button>
        {% endif %}
        {% if overviewSelected == "Pests" %}
            <button input name="overviewSelected" type="submit" value="Pests" class="button buttonActive">
                <image class="buttonIcons buttonIconPest" src="static/pictures/pest-green.svg"/>Pests
            </button>
        {% else %}
            <button input name="overviewSelected" type="submit" value="Pests" class="button button1">
                <image class="buttonIcons buttonIconPest" src="static/pictures/pest.svg"/>Pests
            </button>
        {% endif %}
        {% if overviewSelected == "Fertilization" %}
            <button input name="overviewSelected" type="submit" value="Fertilization" class="button buttonActive">
                <image class="buttonIcons buttonIconFertilizer" src="static/pictures/fertilizer-green.svg"/>Fertilization
            </button>
        {% else %}
            <button input name="overviewSelected" type="submit" value="Fertilization" class="button button1">
                <image class="buttonIcons buttonIconFertilizer" src="static/pictures/fertilizer.svg"/>Fertilization
            </button>
        {% endif %}
    </form>
{% endblock %}

{% block content %}
{% if overviewSelected == "Irrigation" %}
    <div class="mainTopContainer">
        <div class="mainTopContainerLeft">
            <div class="mainTopContainerTitle">Air Temperature</div>
            <div class="mainTopContainerText">{{ temperature }}<span class="mainTopContainerStatusUnit">°C</span></div>
            {% if temperature | int <= 5 %}
                <div class="mainTopContainerStatus mainTopContainerStatusCold">Frost</div>
            {% elif temperature | int <= 12 %}
                <div class="mainTopContainerStatus mainTopContainerStatusLow">Low</div>
            {% elif temperature | int >= 28 %}
                <div class="mainTopContainerStatus mainTopContainerStatusHigh">High</div>
            {% else %}
                <div class="mainTopContainerStatus mainTopContainerStatusGood">Good</div>
            {% endif %}
        </div>
        <div class="mainTopContainerMiddleLeft">
            <div class="mainTopContainerTitle">Humidity</div>
            <div class="mainTopContainerText">{{ humidity }}<span class="mainTopContainerStatusUnit">%</span></div>
            {% if humidity | int >= 70 %}
                <div class="mainTopContainerStatus mainTopContainerStatusHigh">High</div>
            {% elif humidity | int <= 40 %}
                <div class="mainTopContainerStatus mainTopContainerStatusLow">Low</div>
            {% else %}
                <div class="mainTopContainerStatus mainTopContainerStatusGood">Avg</div>
            {% endif %}
        </div>
        <div class="mainTopContainerMiddleRight">
            <div class="mainTopContainerTitle">Rain past 24 hours</div>
            <div class="mainTopContainerText">{{ rainPast24Hours }}<span class="mainTopContainerStatusUnit">mm</span></div>
            {% if rainPast24Hours | int >= 20 %}
                <div class="mainTopContainerStatus mainTopContainerStatusHigh">heavy</div>
            {% elif rainPast24Hours | int >= 1 %}
                <div class="mainTopContainerStatus mainTopContainerStatusGood">optimal</div>
            {% endif %}
        </div>
        <div class="mainTopContainerRight">
            <div class="mainTopContainerTitle">Growth Conditions</div>
            {% if growthCondition | int >= 85 %}
                <div class="mainTopContainerText">Excellent</div>
            {% elif growthCondition | int >= 70 %}
                <div class="mainTopContainerText">Good</div>
            {% elif growthCondition | int >= 60 %}
                <div class="mainTopContainerText">Poor</div>
            {% else %}
                <div class="mainTopContainerText">Bad</div>
            {% endif %}
        </div>
    </div>
    <div class="mainCenterContainer">
        {% if maxMonthlyIrrigations | int  != 0 %}
            <div class="mainCenterContainerTitle">Monthly Irrigation Overview</div>
            <div id="graph">
                <div id="bars">
                    {% if monthlyIrrigations[0] != 0 %}
                        <div class="bar">
                            <div class="fill" style="height:{{ monthlyIrrigationsPercent[0] | int }}%;">
                                <div class="labelAmount">{{ monthlyIrrigations[0] }}mm</div>
                                <div class="label">January</div>
                            </div>
                        </div>
                    {% endif %}
                    {% if monthlyIrrigations[1] != 0 %}
                        <div class="bar">
                            <div class="fill" style="height:{{ monthlyIrrigationsPercent[1] | int }}%;">
                                <div class="labelAmount">{{ monthlyIrrigations[1] }}mm</div>
                                <div class="label">February</div>
                            </div>
                        </div>
                    {% endif %}
                    {% if monthlyIrrigations[2] != 0 %}
                        <div class="bar">
                            <div class="fill" style="height:{{ monthlyIrrigationsPercent[2] | int }}%;">
                                <div class="labelAmount">{{ monthlyIrrigations[2] }}mm</div>
                                <div class="label">March</div>
                            </div>
                        </div>
                    {% endif %}
                    {% if monthlyIrrigations[3] != 0 %}
                        <div class="bar">
                            <div class="fill" style="height:{{ monthlyIrrigationsPercent[3] | int }}%;">
                                <div class="labelAmount">{{ monthlyIrrigations[3] }}mm</div>
                                <div class="label">April</div>
                            </div>
                        </div>
                    {% endif %}
                    {% if monthlyIrrigations[4] != 0 %}
                        <div class="bar">
                            <div class="fill" style="height:{{ monthlyIrrigationsPercent[4] | int }}%;">
                                <div class="labelAmount">{{ monthlyIrrigations[4] }}mm</div>
                                <div class="label">May</div>
                            </div>
                        </div>
                    {% endif %}
                    {% if monthlyIrrigations[5] != 0 %}
                        <div class="bar">
                            <div class="fill" style="height:{{ monthlyIrrigationsPercent[5] | int }}%;">
                                <div class="labelAmount">{{ monthlyIrrigations[5] }}mm</div>
                                <div class="label">June</div>
                            </div>
                        </div>
                    {% endif %}
                    {% if monthlyIrrigations[6] != 0 %}
                        <div class="bar">
                            <div class="fill" style="height:{{ monthlyIrrigationsPercent[6] | int }}%;">
                                <div class="labelAmount">{{ monthlyIrrigations[6] }}mm</div>
                                <div class="label">July</div>
                            </div>
                        </div>
                    {% endif %}
                    {% if monthlyIrrigations[7] != 0 %}
                        <div class="bar">
                            <div class="fill" style="height:{{ monthlyIrrigationsPercent[7] | int }}%;">
                                <div class="labelAmount">{{ monthlyIrrigations[7] }}mm</div>
                                <div class="label">August</div>
                            </div>
                        </div>
                    {% endif %}
                    {% if monthlyIrrigations[8] != 0 %}
                        <div class="bar">
                            <div class="fill" style="height:{{ monthlyIrrigationsPercent[8] | int }}%;">
                                <div class="labelAmount">{{ monthlyIrrigations[8] }}mm</div>
                                <div class="label">September</div>
                            </div>
                        </div>
                    {% endif %}
                    {% if monthlyIrrigations[9] != 0 %}
                        <div class="bar">
                            <div class="fill" style="height:{{ monthlyIrrigationsPercent[9] | int }}%;">
                                <div class="labelAmount">{{ monthlyIrrigations[9] }}mm</div>
                                <div class="label">October</div>
                            </div>
                        </div>
                    {% endif %}
                    {% if monthlyIrrigations[10] != 0 %}
                        <div class="bar">
                            <div class="fill" style="height:{{ monthlyIrrigationsPercent[10] | int }}%;">
                                <div class="labelAmount">{{ monthlyIrrigations[10] }}mm</div>
                                <div class="label">November</div>
                            </div>
                        </div>
                    {% endif %}
                    {% if monthlyIrrigations[11] != 0 %}
                        <div class="bar">
                            <div class="fill" style="height:{{ monthlyIrrigationsPercent[11] | int }}%;">
                                <div class="labelAmount">{{ monthlyIrrigations[11] }}mm</div>
                                <div class="label">December</div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
    {% if maxMonthlyIrrigations | int  != 0 %}
        <div class="mainLeftContainer">
    {% else %}
        <div class="mainLeftContainerNoIrr">
    {% endif %}
        <div class="mainLeftContainerTop">
            <div class="mainLeftContainerTitle">Efficiency of Settings</div>
            {% if valveEfficiency | int > 110 %}
                <div class="mainLeftContainerText">Average {{ valveEfficiency }}%, low</div>
            {% elif valveEfficiency | int > 80 %}
                <div class="mainLeftContainerText">Average {{ valveEfficiency }}%, optimal</div>
            {% else %}
                <div class="mainLeftContainerText">Average {{ valveEfficiency }}%, risky</div>
            {% endif %}
        </div>
        <div class="mainLeftContainerMiddle">
            <div class="mainLeftContainerTitle">Irrigation Dependency</div>
            {% if irrigationDependency | int > 80 %}
                <div class="mainLeftContainerText">{{ irrigationDependency }}% very dependent</div>
            {% elif irrigationDependency | int > 60 %}
                <div class="mainLeftContainerText">{{ irrigationDependency }}% dependent</div>
            {% elif irrigationDependency | int > 30 %}
                <div class="mainLeftContainerText">{{ irrigationDependency }}% efficient</div>
            {% else %}
                <div class="mainLeftContainerText">{{ irrigationDependency }}% low</div>
            {% endif %}
        </div>
        <div class="mainLeftContainerBottom">
            <div class="mainLeftContainerTitle">Irrigation Today</div>
            <div class="mainLeftContainerText">{{ irrigationsToday }} Zones</div>
        </div>
    </div>
    {% if maxMonthlyIrrigations | int  != 0 %}
        <div class="mainRightContainer">
    {% else %}
        <div class="mainRightContainerNoIrr">
    {% endif %}
    {% for i in range(valveSwitch|length) %}
        {% if valveSwitch[i] == "on" %}
            <div class="mainRightContainerTitle">Valve {{ i+1 }}</div>
            <div class="mainRightContainerSubtitle">{{ valveNames[i] }}</div>
            {% if plantSorts[i] == "Pots" %}
                <meter value={{ waterBuffer[i] }} min="0" max="8"></meter>
            {% else %}
                <meter value={{ waterBuffer[i] }} min="0" max="24"></meter>
            {% endif %}
            {% if lastIrrigation[i] != None %}
                <div class="mainRightContainerTextLeft">Last irrigation {{ lastIrrigation[i] }}</div>
                <div class="mainRightContainerTextRight">{{ lastIrrigationAmount[i] }}mm</div>
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>
{% elif overviewSelected == "Pests" %}
{% elif overviewSelected == "Fertilization" %}
{% endif %}
{% endblock %}
