{% extends 'base_mobile.html' %}

{% block topRow1 %}
    <div class="mobileTopRow1Text">{{username}}</div>
{% endblock %}

{% block content %}
    <div class="mobileMainTopContainer">
        <div class="mobileMainTopContainerLeft">
            <div class="mobileMainTopContainerTitle">Air Temperature</div>
            <div class="mobileMainTopContainerText">{{ temperature }}<span class="mobileMainTopContainerStatusUnit">°C</span></div>
            {% if temperature | int <= 5 %}
                <div class="mobileMainTopContainerStatus mobileMainTopContainerStatusCold">Frost</div>
            {% elif temperature | int <= 12 %}
                <div class="mobileMainTopContainerStatus mobileMainTopContainerStatusLow">Low</div>
            {% elif temperature | int >= 28 %}
                <div class="mobileMainTopContainerStatus mobileMainTopContainerStatusHigh">High</div>
            {% else %}
                <div class="mobileMainTopContainerStatus mobileMainTopContainerStatusGood">Good</div>
            {% endif %}
        </div>
        <div class="mobileMainTopContainerMiddleLeft">
            <div class="mobileMainTopContainerTitle">Humidity</div>
            <div class="mobileMainTopContainerText">{{ humidity }}<span class="mobileMainTopContainerStatusUnit">%</span></div>
            {% if humidity | int >= 70 %}
                <div class="mobileMainTopContainerStatus mobileMainTopContainerStatusHigh">High</div>
            {% elif humidity | int <= 40 %}
                <div class="mobileMainTopContainerStatus mobileMainTopContainerStatusLow">Low</div>
            {% else %}
                <div class="mobileMainTopContainerStatus mobileMainTopContainerStatusGood">Avg</div>
            {% endif %}
        </div>
        <div class="mobileMainTopContainerRight">
            <div class="mobileMainTopContainerTitle">Rain past 24 hours</div>
            <div class="mobileMainTopContainerText">{{ rainPast24Hours }}<span class="mobileMainTopContainerStatusUnit">mm</span></div>
            {% if rainPast24Hours | int >= 20 %}
                <div class="mobileMainTopContainerStatus mobileMainTopContainerStatusHigh">heavy</div>
            {% elif rainPast24Hours | int >= 1 %}
                <div class="mobileMainTopContainerStatus mobileMainTopContainerStatusGood">optimal</div>
            {% endif %}
        </div>
    </div>
    <div class="mobileMainCenterContainer">
        <div class="mobileMainCenterContainerTitle">Irrigation per Month (mm)</div>
        <script type="text/javascript" src="static/scripts/Chart.js"></script>
        <canvas id="myChart" style="height:17vh;width:96%;max-width:87vw"></canvas>

        <script>
        const xValues = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
        const yValues = {{ monthlyIrrigations|safe }}

        new Chart("myChart", {
          type: "line",
          data: {
            labels: xValues,
            datasets: [{
              data: yValues,
              borderColor: "#4eaee86b",
              fill: false
            }]
          },
          options: {
            legend: {display: false},
            scales: {
                xAxes: [{
                  gridLines: {display: false}
               }],
              yAxes: [{
                ticks: {min: 0, max:{{maxMonthlyIrrigations | int}}},
                gridLines: {display: false}
        }],
            }
          }
        });
        </script>
    </div>
    <div class="mobileMainBottomContainer">
        <div class="mobileMainBottomContainerTitle">Irrigation Today</div>
        {% if irrigationsToday | int == 1 %}
            <div class="mobileMainBottomContainerTitle2">{{ irrigationsToday }} Zone</div>
        {% else %}
            <div class="mobileMainBottomContainerTitle2">{{ irrigationsToday }} <span class="mobileMainBottomContainerTitle3">Zones</span></div>
        {% endif %}
        <div class="mobileMainBottomContainerBufferGraphs">
            {% for i in range(valveSwitch|length) %}
                {% if valveSwitch[i] == "on" %}
                    <div class="mainRightContainerTitle" style="font-size:1.7vh;margin-left:3vw">Valve {{ i+1 }}</div>
                    <div class="mainRightContainerSubtitle" style="font-size:1.9vh;margin-left:3vw">{{ valveNames[i] }}</div>
                    {% if plantSorts[i] == "Pots" %}
                        <meter style="width:83vw;margin-left:3vw" value={{ waterBuffer[i] }} min="0" max="8"></meter>
                    {% else %}
                        <meter style="width:83vw;margin-left:3vw" value={{ waterBuffer[i] }} min="0" max="24"></meter>
                    {% endif %}
                    {% if lastIrrigation[i] != None %}
                        <div class="mainRightContainerTextLeft" style="font-size:1.7vh;margin-left:3vw;padding-bottom:1vh;">Last irrigation {{ lastIrrigation[i] }}</div>
                        <div class="mainRightContainerTextRight" style="font-size:1.7vh;margin-left:81%;margin-top:-3.1vh;">{{ lastIrrigationAmount[i] }}mm</div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block bottomMenu %}
    <a href="{{url_for('mobile')}}"><image class="bottomMenuBarIconHome" src="static/pictures/home-green.svg"/></a>
    <a href="{{url_for('mobile')}}"><image class="bottomMenuBarIconTool" src="static/pictures/tool-gray.svg"/></a>
    <a href="{{url_for('mobile')}}"><image class="bottomMenuBarIconUser" src="static/pictures/user-gray.svg"/></a>
    <a href="{{url_for('mobile')}}"><image class="bottomMenuBarIconSetting" src="static/pictures/settings-gray.svg"/></a>
{% endblock %}
