{% extends 'base.html' %}

{% block topbar %}
    <a href="{{url_for('index')}}"><div class="greyBarLink"> Register New User </div></a>
    <div class="greyBarDivider"> • </div>
{% endblock %}

{% block leftmenu %}
{% endblock %}

{% block content %}
<div class="contentTwoColumns">
    <div class="contentLeft">
        <div class="contentTitle">Register new user</div>
        <form action="" method = "POST">
            <div class="contentSubTitle">Email
                <div class="contentRight" style="margin-left: 8.6rem;"><input type = "email" name = "email"/>
                </div>
            </div>
            <div class="contentSubTitle">Username
                <div class="contentRight" style="margin-left: 6.1rem;"><input type = "text" name = "username"/>
                </div>
            </div>
            <div class="contentSubTitle">password
                <div class="contentRight" style="margin-left: 6.3rem;"><input type = "password" name = "password"/>
                </div>
            </div>
            <input type="submit" style="margin-left: 21rem;" value="add">
        </form>
    </div>
</div>
{% endblock %}
