{% extends 'base.html' %}

{% block topbar %}
    <a href="{{url_for('index')}}"><div class="greyBarLink"> Home </div></a> 
    <div class="greyBarDivider"> • </div>
    <a href="{{url_for('settings')}}"><div class="greyBarLink"> Settings </div></a> 
    <div class="greyBarDivider"> • </div>
    <a href="{{url_for('settings')}}"><div class="greyBarLink"> {{ settingsSelected }} </div></a>
{% endblock %}

{% block leftmenu %}
    <form action="" method="POST">
        {% if settingsSelected == "general" %}
            <button input name="settingsSelected" type="submit" value="general" class="button buttonActive">
                <image class="buttonIcons buttonIconGeneral" src="static/pictures/general-settings-green.svg"/>General
            </button>
        {% else %}
            <button input name="settingsSelected" type="submit" value="general" class="button button1">
                <image class="buttonIcons buttonIconGeneral" src="static/pictures/general-settings.svg"/>General
            </button>
        {% endif %}
        {% for i in range(1,9) %}
            {% if i|string in settingsSelected %}
                <button input type="submit" name="settingsSelected" value="Zone {{ i }}" class="button buttonActive">
                    <image class="buttonIcons buttonIconSprinkler buttonActive" src="static/pictures/sprinkler-green.svg"/>Zone {{ i }}
                </button>
            {% else %}
                <button input type="submit" name="settingsSelected" value="Zone {{ i }}" class="button button1">
                    <image class="buttonIcons buttonIconSprinkler" src="static/pictures/sprinkler.svg"/>Zone {{ i }}
                </button>
            {% endif %}
        {% endfor %}
    </form>
{% endblock %}

{% block content %}
{% if settingsSelected == "general" %}
<div class="contentTwoColumns">
    <form action="" method="POST">
        <div class="contentLeft">
            <div class="contentTitle">GENERAL SETTINGS</div>

            <div class="contentSubTitle">Update URL
                <div class="contentRight" style="margin-left: 21.8rem;">
                    <input type="text" maxlength="60" size="33" name="updateURL" placeholder="" value="{{ updateURL }}">
                </div>
            </div>
            <div>
                <a href="{{ url_for('updateSoftware') }}"><div><button type="button" class="updateButton">Update</button></div></a>
            </div>
            <div class="contentSubTitle" style="margin-top: 3.5rem;">Unit
                <div class="contentRight" style="margin-left: 26rem;">
                    <select name="unit" id="unit">
                        <option value="Metric"{% if unit=="Metric" %} selected="selected"{% endif %}>Metric</option>
                        <option value="Imperial"{% if unit=="Imperial" %} selected="selected"{% endif %}>Imperial</option>
                    </select>
                </div>
            </div>
            <div class="contentText"></div>
            <div class="contentSubTitle">Pump
                <div class="contentRight" style="margin-left: 24.8rem;">
                    <label class="switch">
                        {% if waterpump=="on" %}
                            <input type="checkbox" name="pump" id="pump" checked>
                        {% else %}
                            <input type="checkbox" name="pump" id="pump">
                        {% endif %}
                        <span class="slider round"><div class="pumpSliderText">OFF</div></span>
                    </label>
                </div>
            </div>
            <div class="contentText">Water supplied by pump</div>

            <div class="contentSubTitle">Time zone
                <div class="contentRight" style="margin-left: 22.5rem;">
                    <select name="timeZone" id="timeZone">
                        <option value="-12:00"{% if timeZone=="-12:00" %} selected="selected"{% endif %}>(GMT -12:00) Eniwetok, Kwajalein</option>
                        <option value="-11:00"{% if timeZone=="-11:00" %} selected="selected"{% endif %}>(GMT -11:00) Midway Island, Samoa</option>
                        <option value="-10:00"{% if timeZone=="-10:00" %} selected="selected"{% endif %}>(GMT -10:00) Hawaii</option>
                        <option value="-09:50"{% if timeZone=="-09:50" %} selected="selected"{% endif %}>(GMT -9:30) Taiohae</option>
                        <option value="-09:00"{% if timeZone=="-09:00" %} selected="selected"{% endif %}>(GMT -9:00) Alaska</option>
                        <option value="-08:00"{% if timeZone=="-08:00" %} selected="selected"{% endif %}>(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                        <option value="-07:00"{% if timeZone=="-07:00" %} selected="selected"{% endif %}>(GMT -7:00) Mountain Time (US &amp; Canada)</option>
                        <option value="-06:00"{% if timeZone=="-06:00" %} selected="selected"{% endif %}>(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
                        <option value="-05:00"{% if timeZone=="-05:00" %} selected="selected"{% endif %}>(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
                        <option value="-04:50"{% if timeZone=="-04:50" %} selected="selected"{% endif %}>(GMT -4:30) Caracas</option>
                        <option value="-04:00"{% if timeZone=="-04:00" %} selected="selected"{% endif %}>(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
                        <option value="-03:50"{% if timeZone=="-03:50" %} selected="selected"{% endif %}>(GMT -3:30) Newfoundland</option>
                        <option value="-03:00"{% if timeZone=="-03:00" %} selected="selected"{% endif %}>(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
                        <option value="-02:00"{% if timeZone=="-02:00" %} selected="selected"{% endif %}>(GMT -2:00) Mid-Atlantic</option>
                        <option value="-01:00"{% if timeZone=="-01:00" %} selected="selected"{% endif %}>(GMT -1:00) Azores, Cape Verde Islands</option>
                        <option value="+00:00"{% if timeZone=="+00:00" %} selected="selected"{% endif %}>(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
                        <option value="+01:00"{% if timeZone=="+01:00" %} selected="selected"{% endif %}>(GMT +1:00) Brussels, Copenhagen, Madrid, Paris</option>
                        <option value="+02:00"{% if timeZone=="+02:00" %} selected="selected"{% endif %}>(GMT +2:00) Kaliningrad, South Africa</option>
                        <option value="+03:00"{% if timeZone=="+03:00" %} selected="selected"{% endif %}>(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                        <option value="+03:50"{% if timeZone=="+03:50" %} selected="selected"{% endif %}>(GMT +3:30) Tehran</option>
                        <option value="+04:00"{% if timeZone=="+04:00" %} selected="selected"{% endif %}>(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
                        <option value="+04:50"{% if timeZone=="+04:50" %} selected="selected"{% endif %}>(GMT +4:30) Kabul</option>
                        <option value="+05:00"{% if timeZone=="+05:00" %} selected="selected"{% endif %}>(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
                        <option value="+05:50"{% if timeZone=="+05:50" %} selected="selected"{% endif %}>(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
                        <option value="+05:75"{% if timeZone=="+05:75" %} selected="selected"{% endif %}>(GMT +5:45) Kathmandu, Pokhara</option>
                        <option value="+06:00"{% if timeZone=="+06:00" %} selected="selected"{% endif %}>(GMT +6:00) Almaty, Dhaka, Colombo</option>
                        <option value="+06:50"{% if timeZone=="+06:50" %} selected="selected"{% endif %}>(GMT +6:30) Yangon, Mandalay</option>
                        <option value="+07:00"{% if timeZone=="+07:00" %} selected="selected"{% endif %}>(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                        <option value="+08:00"{% if timeZone=="+08:00" %} selected="selected"{% endif %}>(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                        <option value="+08:75"{% if timeZone=="+08:75" %} selected="selected"{% endif %}>(GMT +8:45) Eucla</option>
                        <option value="+09:00"{% if timeZone=="+09:00" %} selected="selected"{% endif %}>(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
                        <option value="+09:50"{% if timeZone=="+09:50" %} selected="selected"{% endif %}>(GMT +9:30) Adelaide, Darwin</option>
                        <option value="+10:00"{% if timeZone=="+10:00" %} selected="selected"{% endif %}>(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
                        <option value="+10:50"{% if timeZone=="+10:50" %} selected="selected"{% endif %}>(GMT +10:30) Lord Howe Island</option>
                        <option value="+11:00"{% if timeZone=="+11:00" %} selected="selected"{% endif %}>(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
                        <option value="+11:50"{% if timeZone=="+11:50" %} selected="selected"{% endif %}>(GMT +11:30) Norfolk Island</option>
                        <option value="+12:00"{% if timeZone=="+12:00" %} selected="selected"{% endif %}>(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
                        <option value="+12:75"{% if timeZone=="+12:75" %} selected="selected"{% endif %}>(GMT +12:45) Chatham Islands</option>
                        <option value="+13:00"{% if timeZone=="+13:00" %} selected="selected"{% endif %}>(GMT +13:00) Apia, Nukualofa</option>
                        <option value="+14:00"{% if timeZone=="+14:00" %} selected="selected"{% endif %}>(GMT +14:00) Line Islands, Tokelau</option>
                    </select>
                </div>
            </div>
            <div class="contentText"></div>

            <div class="contentSubTitle">Location
                <div class="contentRight" style="margin-left: 23.4rem;">
                    <input type="text" maxlength="10" size="10" name="location" placeholder="" value="{{ location }}">
                </div>
            </div>
            <div class="contentText">Last part of the <a style="color: green;" href="https://openweathermap.org/" target="_blank">openweather</a> link after you found your location</div>

            <div class="contentSubTitle">Openweather key
                <div class="contentRight" style="margin-left: 18.7rem;">
                    <input type="text" maxlength="32" size="32" name="openWeatherKey" placeholder="" value="{{ openWeatherKey }}">
                </div>
            </div>
            <div class="contentText">API key comes with <a style="color: green;" href="https://openweathermap.org/home/sign_in" target="_blank">openweather</a> subscrption</div>
            <input type="submit" style="margin-left: 44rem;" value="save">
        </div>    
    </form>
</div>
{% else %}
<div class="contentTwoColumns">
    <form action="" method="POST">
        <div class="contentLeft">
            <div class="contentTitle">{{ settingsSelected }}</div>
            <input type="hidden" name="valveSelected" value="{{ settingsSelected }}"/>

            <div class="contentSubTitle">Valve
                <div class="contentRight" style="margin-left: 25.2rem;">
                    <label class="switch">
                        {% if valve=="on" %}
                            <input type="checkbox" name="valve" id="valve" checked>
                        {% else %}
                            <input type="checkbox" name="valve" id="valve">
                        {% endif %}
                        <span class="slider round"><div class="sliderText">ON</div></span>
                    </label>
                </div>
            </div>
            <div class="contentText"></div>

            <div class="contentSubTitle">Name
                <div class="contentRight" style="margin-left: 25rem;">
                    <input type="text" maxlength="28" name="valveName" placeholder="" value="{{ valveName }}">
                </div>
            </div>
            <div class="contentText"></div>

            <div class="contentSubTitle">Output
                <div class="contentRight" style="margin-left: 24.5rem;">
                    <input type="text" maxlength="28" name="valveOutput" placeholder="" value="{{ valveOutput }}">
                </div>
            </div>
            <div class="contentText">mm or inch per hour</div>

            <div class="contentSubTitle">Correction (%)
                <div class="contentRight" style="margin-left: 20.5rem;">
                    <input type="text" maxlength="28" name="valveCorrection" placeholder="" value="{{ valveCorrection }}">
                </div>
            </div>
            <div class="contentText">More than 100% for overirrigation</div>

            <div class="contentSubTitle">Maximum wind speed
                <div class="contentRight" style="margin-left: 16.2rem;">
                    <input type="text" maxlength="28" name="maxWind" placeholder="" value="{{ maxWind }}">
                </div>
            </div>
            <div class="contentText">Meter per second or miles per hour</div>

            <div class="contentSubTitle">Plant type
                <div class="contentRight" style="margin-left: 22.5rem;">
                    <select name="plantType" id="plantType">
                        <option value="None"{% if plantType=="None" %} selected="selected"{% endif %}>None</option>
                        <option value="Alfalfa"{% if plantType=="Alfalfa" %} selected="selected"{% endif %}>Alfalfa</option>
                        <option value="Apple"{% if plantType=="Apple" %} selected="selected"{% endif %}>Apple</option>
                        <option value="Asparagus"{% if plantType=="Asparagus" %} selected="selected"{% endif %}>Asparagus</option>
                        <option value="Barley"{% if plantType=="Barley" %} selected="selected"{% endif %}>Barley</option>
                        <option value="Beans"{% if plantType=="Beans" %} selected="selected"{% endif %}>Beans</option>
                        <option value="Beets"{% if plantType=="Beets" %} selected="selected"{% endif %}>Beets</option>
                        <option value="Blueberries"{% if plantType=="Blueberries" %} selected="selected"{% endif %}>Blueberries</option>
                        <option value="Broccoli"{% if plantType=="Broccoli" %} selected="selected"{% endif %}>Broccoli</option>
                        <option value="Cabbage"{% if plantType=="Cabbage" %} selected="selected"{% endif %}>Cabbage</option>
                        <option value="Carrots"{% if plantType=="Carrots" %} selected="selected"{% endif %}>Carrots</option>
                        <option value="Cauliflower"{% if plantType=="Cauliflower" %} selected="selected"{% endif %}>Cauliflower</option>
                        <option value="Celery"{% if plantType=="Celery" %} selected="selected"{% endif %}>Celery</option>
                        <option value="Compost"{% if plantType=="Compost" %} selected="selected"{% endif %}>Compost</option>
                        <option value="Corn"{% if plantType=="Corn" %} selected="selected"{% endif %}>Corn</option>
                        <option value="Cranberries"{% if plantType=="Cranberries" %} selected="selected"{% endif %}>Cranberries</option>
                        <option value="Cucumbers"{% if plantType=="Cucumbers" %} selected="selected"{% endif %}>Cucumbers</option>
                        <option value="Drip"{% if plantType=="Drip" %} selected="selected"{% endif %}>Drip</option>
                        <option value="Egg plant"{% if plantType=="Egg plant" %} selected="selected"{% endif %}>Egg plant</option>
                        <option value="Endive"{% if plantType=="Endive" %} selected="selected"{% endif %}>Endive</option>
                        <option value="Geranium"{% if plantType=="Geranium" %} selected="selected"{% endif %}>Geranium</option>
                        <option value="Grass"{% if plantType=="Grass" %} selected="selected"{% endif %}>Grass</option>
                        <option value="Hosta"{% if plantType=="Hosta" %} selected="selected"{% endif %}>Hosta</option>
                        <option value="Lettuce"{% if plantType=="Lettuce" %} selected="selected"{% endif %}>Lettuce</option>
                        <option value="Onions"{% if plantType=="Onions" %} selected="selected"{% endif %}>Onions</option>
                        <option value="Pears"{% if plantType=="Pears" %} selected="selected"{% endif %}>Pears</option>
                        <option value="Peppers"{% if plantType=="Peppers" %} selected="selected"{% endif %}>Peppers</option>
                        <option value="Potatoes"{% if plantType=="Potatoes" %} selected="selected"{% endif %}>Potatoes</option>
                        <option value="Pumpkins"{% if plantType=="Pumpkins" %} selected="selected"{% endif %}>Pumpkins</option>
                        <opion value="Radish"{% if plantType=="Radish" %} selected="selected"{% endif %}>Radish</option>
                        <option value="Raspberries"{% if plantType=="Raspberries" %} selected="selected"{% endif %}>Raspberries</option>
                        <option value="Spinach"{% if plantType=="Spinach" %} selected="selected"{% endif %}>Spinach</option>
                        <option value="Oats"{% if plantType=="Oats" %} selected="selected"{% endif %}>Oats</option>
                        <option value="Strawberries"{% if plantType=="Strawberries" %} selected="selected"{% endif %}>Strawberries</option>
                        <option value="Tomatoes"{% if plantType=="Tomatoes" %} selected="selected"{% endif %}>Tomatoes</option>
                        <option value="Watermelons"{% if plantType=="Watermelons" %} selected="selected"{% endif %}>Watermelons</option>
                        <option value="Wheat"{% if plantType=="Wheat" %} selected="selected"{% endif %}>Wheat</option>
                        <option value="Pots"{% if plantType=="Pots" %} selected="selected"{% endif %}>Pots</option>
                    </select>
                </div>
            </div>
            <div class="contentText"></div>

            <div class="contentSubTitle">Type
                <div class="contentRight" style="margin-left: 25.2rem;">
                    <select name="irrigationType" id="irrigationType">
                        <option value="Sprinkler"{% if irrigationType=="Sprinkler" %} selected="selected"{% endif %}>Sprinkler</option>
                        <option value="Drip"{% if irrigationType=="Drip" %} selected="selected"{% endif %}>Drip</option>
                    </select>
                </div>
            </div>
            <div class="contentText"></div>

            <div class="contentSubTitle">GPIO Pin
                <div class="contentRight" style="margin-left: 22.9rem;">
                    <input type="text" maxlength="2" name="gpio" placeholder="" value="{{ gpio }}">
                </div>
            </div>

            <input type="submit" style="margin-left: 36rem;" value="save">

            {% if type == "Drip" %}
                {{ type }}
            {% endif %}
        </div>
    </form>
</div>
{% endif %}
<div class="bottombar"></div>
{% endblock %}
