{% extends 'base.html' %}

{% block topbar %}
    <a href="{{url_for('index')}}"><div class="greyBarLink"> Home </div></a>
    <div class="greyBarDivider"> • </div>
    <a href="{{url_for('settings')}}"><div class="greyBarLink"> Settings </div></a>
    <div class="greyBarDivider"> • </div>
    <a href="{{url_for('user')}}"><div class="greyBarLink"> Userdata </div></a>
{% endblock %}

{% block leftmenu %}
    <form action="" method="POST">
        {% if settingsSelected == "general" %}
            <button input name="settingsSelected" type="submit" value="general" class="button buttonActive">
                <image class="buttonIcons buttonIconGeneral" src="static/pictures/general-settings-green.svg"/>General
            </button>
        {% else %}
            <button input name="settingsSelected" type="submit" value="general" class="button button1">
                <image class="buttonIcons buttonIconGeneral" src="static/pictures/general-settings.svg"/>General
            </button>
        {% endif %}
        {% for i in range(1,9) %}
            {% if i|string in settingsSelected %}
                <button input type="submit" name="settingsSelected" value="Zone {{ i }}" class="button buttonActive">
                    <image class="buttonIcons buttonIconSprinkler buttonActive" src="static/pictures/sprinkler-green.svg"/>Zone {{ i }}
                </button>
            {% else %}
                <button input type="submit" name="settingsSelected" value="Zone {{ i }}" class="button button1">
                    <image class="buttonIcons buttonIconSprinkler" src="static/pictures/sprinkler.svg"/>Zone {{ i }}
                </button>
            {% endif %}
        {% endfor %}
    </form>
{% endblock %}

{% block content %}
<div class="contentTwoColumns">
    <div class="contentLeft">
        <div class="contentTitle">Active users</div>
        <table>
            {% for user in users %}
            <tr>
                <td><div class="contentSubTitle">{{ user }}</div></td>
                    <td><div class="contentSubTitle">{% if user|string() != username|string() %}<a href="/removeUser?remove_user={{user}}" style="margin-left: 2rem;" onclick="return confirm('Confirm to remove: {{user}}?')"><img class="svg-icon" height=16px width=auto src="static/pictures/wastebin.svg"/></a>{% endif %}</div></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="contentRight">
        <div class="contentTitle">Register new user</div>
        <form action="" method = "POST">
            <div class="contentSubTitle">Email
                <div class="contentRight" style="margin-left: 9rem;"><input type = "email" name = "email"/>
                </div>
            </div>
            <div class="contentSubTitle">Username
                <div class="contentRight" style="margin-left: 6.1rem;"><input type = "text" name = "username"/>
                </div>
            </div>
            <div class="contentSubTitle">password
                <div class="contentRight" style="margin-left: 6.3rem;"><input type = "password" name = "password"/>
                </div>
            </div>
            <input type="submit" style="margin-left: 21rem;" value="add">
        </form>
    </div>
</div>
{% endblock %}
