/*colors*/
/*text dark grey #444444*/
/*grid layout*/
body {
    background: #ffffff;
}
.general {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: inherit;
}
input[type="submit"] {
    display: inline-block;
    position: absolute;
    margin-top: 4rem;
    float: right;
    width: 60px;
    height: 34px;
    background-color: #326532;
    border-radius: 30px;
    border: 0 solid gray;
    font-size: 18px;
    color: #E5E5E5;
    padding-bottom: 5px;
}
.topbarsBackground {
    position: fixed;
    overflow: hidden;
    background: #ffffff;
    top: 0; 
    width: 100%; 
    z-index: 95;
    height: 6rem;
}
.topBars {
    height: 2.9rem;
    width: 100%;
    top: 0;
    bottom:0;
    position: fixed; 
    overflow: hidden;
    z-index: 99;
}
.topbar {
    margin-bottom:1v;
    background: green;
}
.bottombar {
    height: 2rem;
    width: 100%;
    margin-top: 59%;
}
.maincontainer {
    width: 100%;
    color: #444444; 
    margin-top: 8rem;
    z-index: -1;
  }
.inlineLeft {
    overflow: hidden;
    position: fixed; 
    float: left;
    margin-top: 1.5rem;
    width: 14rem;
    margin-left: 2vw;
    z-index: 98;
}
.inlineRight {
    display:inline-block;
    position: absolute;
    float: right;
    margin-left: calc(16vw + 3rem);
    margin-top: 1.5rem;
    width: calc(100% - 21rem);
    margin-bottom: 5rem;
}

.gray {
    background: #E6E6E6;
    width: clamp(96vw, 96%, 98vw);
    margin-left: 1vw;
    overflow:hidden;
    margin-top: 5rem;
}

/*topbar menu items*/
.columnLeft {
    text-decoration: none;
    float: left;
    font-size: 1.8rem;
    color: white;
    width: 10vw;
    margin-left: 1vw;
    margin-top: 0.2rem;
}
.columnLeftLogo {
    float: left;
    margin-left: 1vw;
    height: 2rem;
    margin-top: 0.3rem;
}
.columnLeftText {
    margin-left: 4rem;
    color: white;
}
.columnRight {
    float: right;
    width: fit-content;
    height: 2rem;
    margin-top: 0.3rem;
    margin-left: 2.5vw;
}
.topBarIcons {
    height: 2rem;
    margin-top: 0.1rem;
}
.topBarWeather {
    height: 3.5rem;
    margin-top: -0.6rem
}
.topBarText {
    float: right;
    width: fit-content;
    font-size: 1.2rem;
    color: white;
    margin-left: 0.8vw;
    margin-top: 0.4rem;
}

/*greybar link items*/
.greyBarLink {
    float: left;
    width: fit-content;
    font-size: 1.3rem;
    text-transform: capitalize;
    color: green;
    margin-left: 0.8vw;
    margin-top: 0.6rem;
}
.greyBarDivider {
    float: left;
    color: #444444;
    margin-left: 0.8vw;
    font-size: 1.3rem;
    margin-top: 0.7rem;
}

/*left menu link items*/
.button {
    float: left;
    border: none;
    color: #444444;
    padding: 0.4vw;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
    margin-top: 0.4rem;
    width: 100%;
    text-align: left;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: white; 
    color: #444444; 
}
.button1:hover {
  background-color: #E8E8E8;
  color: #444444;
}
.buttonActive {
    color: green !important;
    background-color: #EDEDED !important;
}
.buttonIcons {
    float: left;
}
.buttonIconGeneral {
    margin-left: 1.8rem;
    margin-right: 0.2rem;
    height: 1.8rem;
}
.buttonIconSprinkler {
    margin-left: 2rem;
    margin-right: 0.7rem;
    height: 1rem;
    margin-top: 0.4rem;
}
.buttonIconPest {
    margin-left: 2rem;
    margin-right: 0.7rem;
    height: 1.1rem;
    margin-top: 0.3rem;
}
.buttonIconFertilizer {
    margin-left: 1.7rem;
    margin-right: 0.5rem;
    height: 1.5rem;
    margin-top: 0.1rem;
}

.updateButton {
  display: inline-block;
  position: absolute;
  float: right;
  color: green !important;
  margin-left: 35.1rem;
  margin-top: 0.8rem;
  width: 60px;
  height: 28px;
}
/*content block*/
.switch {
  display: inline-block;
  position: absolute;
  float: right;
  margin-left: 0;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #97AC97;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #326532;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #326532;
}
input:focus + .slider {
  box-shadow: 0 0 green;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #AAF1AA;
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.sliderText {
    font-size: 15px;
    color: #E5E5E5;
    margin-top: 8.5px;
    margin-left: 30px;
}
.pumpSliderText {
    font-size: 14px;
    color: #E5E5E5;
    margin-top: 8px;
    margin-left: 30px;
}

.contentTwoColumns {
    width: 100%;
    height: auto;
    margin-left: 7rem;
    margin-top: 0.8rem;
}
.contentLeft {
    display:inline-block;
    float: left;
    width: 24rem;
}
.contentRight {
    display:inline-block;
    position: absolute;
}
.contentTitle {
    font-size: 1.4rem;
    text-transform: uppercase;
}
.contentSubTitle {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}
.contentText {
    font-size: 0.9rem;
    margin-top: 0.3rem;
}

/*index*/
.mainTopContainer {
    height: 7rem;
    width: 75vw;
    box-shadow: 0px 0px 9px #8888886e;
    border-radius: 9px;
    margin-left: 2rem;
}
.mainTopContainerLeft {
    position: absolute;
    width: 17vw;
    margin-left: 2vw;
    height: 7rem;
    border-right: 1.5px solid #88888830;
}
.mainTopContainerMiddleLeft {
    position: absolute;
    width: 17vw;
    margin-left: 21vw;
    height: 7rem;
    border-right: 1.5px solid #88888830;
}
.mainTopContainerMiddleRight {
    position: absolute;
    width: 17vw;
    margin-left: 40vw;
    height: 7rem;
    border-right: 1.5px solid #88888830;
}
.mainTopContainerRight {
    position: absolute;
    width: 17vw;
    margin-left: 59vw;
    height: 7rem;
}
.mainTopContainerTitle {
    font-size: 1rem;
    margin-top: 1.1rem;
}
.mainTopContainerText {
    font-size: 2.2rem;
}
.mainTopContainerStatus {
    font-size: 0.9rem;
    text-align: center;
    width: 4rem;
    border-radius: 4px;
    padding: 2px;
    position: relative;
    margin-left: 6rem;
    margin-top: -2.1rem;
}
.mainTopContainerStatusUnit {
    font-size: 1.3rem;
    margin-left: 0.2rem;
}
.mainTopContainerStatusCold {
    color: blue;
    border: 1px solid blue;
}
.mainTopContainerStatusLow {
    color: orange;
    border: 1px solid orange;
}
.mainTopContainerStatusHigh {
    color: red;
    border: 1px solid red;
}
.mainTopContainerStatusGood {
    color: green;
    border: 1px solid green;
}
.mainCenterContainer {
    position: absolute;
    float: left;
    margin-top: calc(1vh + 1rem);
    width: 75vw;
    height: 12rem;
    margin-left: 2rem;
    box-shadow: 0px 0px 9px #8888886e;
    border-radius: 9px;
}
.mainCenterContainerTitle {
    font-size: 1.2rem;
    margin-top: 0.7rem;
    margin-left: 1rem;
}
#graph {
  width: 100%;
  text-align: center;
}
#bars {
  display: flex;
  height: 6rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.bar {
  flex-grow: 1;
  margin: 0 .3em 0;
  position: relative;
  max-width: 5.6vw;
}
.label {
    font-size: 0.84rem;
    position: absolute;
    bottom: -1.3rem; 
    width: 100%;
}
.labelAmount {
    font-size: 0.84rem;
    position: absolute;
    bottom: -2.3rem; 
    width: 100%;
}
.fill {
  border-bottom: 1px solid #000;
  position: absolute;
  left: 0; right: 0; bottom: 0;
  background: #4eaee86b;
}
.mainLeftContainer {
    position: absolute;
    float: left;
    margin-top: calc(2vh + 14rem);
    width: 20vw;
    box-shadow: 0px 0px 9px #8888886e;
    border-radius: 9px;
    height: 12rem;
    margin-left: 2rem;
}
.mainLeftContainerNoIrr {
    position: absolute;
    float: left;
    margin-top: 1.5rem;
    width: 20vw;
    box-shadow: 0px 0px 9px #8888886e;
    border-radius: 9px;
    height: 12rem;
    margin-left: 2rem;
}
.mainLeftContainerTitle {
    font-size: 0.9rem;
    margin-top: 1.1rem;
    margin-left: 0.2rem;
}
.mainLeftContainerText {
    font-size: 1.2rem;
    margin-left: 0.2rem;
}
.mainLeftContainerTop {
    position: absolute;
    margin-left: 2%;
    height: 4rem;
}
.mainLeftContainerMiddle {
    position: absolute;
    margin-left: 2%;
    margin-top: 3.5rem;
    height: 4rem;
}
.mainLeftContainerBottom {
    position: absolute;
    margin-left: 2%;
    height: 4rem;
    margin-top: 7rem;
}
.mainRightContainer {
    position: absolute;
    margin-left: calc(22vw + 2rem);
    margin-top: calc(2vh + 14rem);
    width: 53vw;
    padding-bottom: 2rem;
    box-shadow: 0px 0px 9px #8888886e;
    border-radius: 9px;
    display: block;
    overflow: auto;
}
.mainRightContainerNoIrr {
    position: absolute;
    float: right;
    margin-left: calc(21vw + 2rem);
    margin-top: 1.5rem;
    width: calc(51vw + 2rem);
    padding-bottom: 2rem;
    box-shadow: 0px 0px 9px #8888886e;
    border-radius: 9px;
    display: block;
    overflow: auto;
}
.mainRightContainerTitle {
    font-style: italic;
    font-size: 1rem;
    margin-top: 1.1rem;
    margin-left: 2rem;
}
.mainRightContainerSubtitle {
    font-style: bold;
    font-size: 1.1rem;
    margin-top: 0.1rem;
    margin-left: 2rem;
}
.mainRightContainerTextLeft {
    font-size: 0.9rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1.5px solid #88888830;
}
.mainRightContainerTextRight {
    position: relative;
    font-size: 0.9rem;
    margin-top: -2rem;
    margin-left: calc(40vw + 2rem);
    padding-bottom: 1rem;
    width: 8vw;
    text-align: right;
}
meter {
    margin-bottom: 0.3rem;
    margin-left: 1.9rem;
    width: calc(48vw + 1rem);
    height: 3vh;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(252, 162, 127, 0.79) 0%, rgb(34, 172, 39) 100%);
}
meter::-webkit-meter-bar {
      background: rgb(12,160,205);
      background: linear-gradient(90deg, rgba(12,160,205,1) 0%, rgba(41,102,218,1) 100%);
      border-radius: 8px;
      height: 3vh;
      width: 48vw;
}
meter::-webkit-meter-optimum-value {
    background: rgb(12,160,205);
    background: linear-gradient(90deg, rgba(12,160,205,1) 0%, rgba(41,102,218,1) 100%);
}
meter::-moz-meter-bar {
      background: rgb(12,160,205);
      background: linear-gradient(90deg, rgba(12,160,205,1) 0%, rgba(41,102,218,1) 100%);
      border-radius: 8px;
      height: 3vh;
      width: 48vw;
}
meter::-moz-meter-optimum-value {
    background: rgb(12,160,205);
    background: linear-gradient(90deg, rgba(12,160,205,1) 0%, rgba(41,102,218,1) 100%);
}

/*mobile devices*/

/*phone*/
/* Minimum aspect ratio */
@media (max-aspect-ratio: 3/2) {
  meter {
    height: 2vh;
    }
  meter::-webkit-meter-bar {
      height: 2vh;
    }
   meter::-moz-meter-bar {
      height: 2vh;
    }
}

.mobileTopBars {
    width: 100%;
    top: 0;
    bottom:0;
}
.mobileTopRow1 {
    width: 100%;
    height: 6vh;
    top: 0;
    bottom:0;
    background: #f6f7f7;
    z-index: 91;
    vertical-align: center;
    text-align: center;
    position: fixed;
    overflow: hidden;
}
.mobileTopRow1Text {
    color: #43494c;
    margin-top: 1.4vh;
    font-size: 2.5vh;
}
.mobileTopRow2 {
    width: 100%;
    height: 2.9rem;
    top: 2.9rem;
    bottom:0;
    background: white;
    z-index: 91;
    vertical-align: center;
    text-align: center;
    position: fixed;
    overflow: hidden;
}
.mobileContent {
    height: auto;
    margin-top: 7.7vh;
}
.bottomMenuBar {
    width: 100%;
    height: 6vh;
    bottom:0;
    background: #f6f7f7;
    z-index: 91;
    vertical-align: center;
    text-align: center;
    position: fixed;
    overflow: hidden;
}
.bottomMenuBarIconHome {
    height: 3.5vh;
    margin-top: 1vh;
    float: left;
    width: 10vw;
    margin-left: 12%;
}
.bottomMenuBarIconTool {
    height: 4vh;
    margin-top: 1vh;
    float: left;
    width: 10vw;
    margin-left: 12%;
}
.bottomMenuBarIconUser {
    height: 4vh;
    margin-top: 1vh;
    float: left;
    width: 10vw;
    margin-left: 12%;
}
.bottomMenuBarIconSetting {
    height: 4vh;
    margin-top: 1vh;
    float: left;
    width: 10vw;
    margin-left: 12%;
}


/*main*/
.mobileMainTopContainer {
    height: 9vh;
    width: 90%;
    box-shadow: 0px 0px 9px #8888886e;
    border-radius: 9px;
    margin-left: 5%;
}
.mobileMainTopContainerLeft {
    position: absolute;
    width: 27%;
    margin-left: 2%;
    height: 9vh;
    border-right: 1.5px solid #88888830;
}
.mobileMainTopContainerMiddleLeft {
    position: absolute;
    width: 27%;
    margin-left: 32%;
    height: 9vh;
    border-right: 1.5px solid #88888830;
}
.mobileMainTopContainerRight {
    position: absolute;
    margin-left: 61%;
    height: 9vh;
}
.mobileMainTopContainerTitle {
    font-size: 3.2vw;
    margin-top: 1vh;
}
.mobileMainTopContainerText {
    font-size: 6vw;
    margin-top: 0.4vh;
}
.mobileMainTopContainerStatus {
    font-size: 3vw;
    text-align: center;
    width: 9vw;
    border-radius: 4px;
    padding: 2px;
    position: relative;
    margin-left: 13vw;
    margin-top: -3.8vh;
}
.mobileMainTopContainerStatusUnit {
    font-size: 3vw;
    margin-left: 0.3vw;
}
.mobileMainTopContainerStatusCold {
    color: blue;
    border: 1px solid blue;
}
.mobileMainTopContainerStatusLow {
    color: orange;
    border: 1px solid orange;
}
.mobileMainTopContainerStatusHigh {
    color: red;
    border: 1px solid red;
}
.mobileMainTopContainerStatusGood {
    color: green;
    border: 1px solid green;
}
.mobileMainCenterContainer {
    position: absolute;
    float: left;
    margin-top: 1.9vh;
    width: 90%;
    height: 23vh;
    margin-left: 5%;
    box-shadow: 0px 0px 9px #8888886e;
    border-radius: 9px;
}
.mobileMainCenterContainerTitle {
    font-size: 1.5vh;
    margin-top: 1.5vh;
    margin-left: 1rem;
    margin-bottom: 1.5vh;
}
.mobileMainBottomContainer {
    position: absolute;
    float: left;
    margin-top: 27.1vh;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0px 0px 9px #8888886e;
    border-radius: 9px;
    padding-bottom: 6vh;
}
.mobileMainBottomContainerTitle {
    position: absolute;
    margin-left: 3%;
    margin-top: 2.3vh;
    height: 3vh;
    font-size: 1.5vh;
    width: 95%;
    border-bottom: 1.5px solid #88888830;
}
.mobileMainBottomContainerTitle2 {
    position: absolute;
    margin-left: 13vh;
    margin-top: 1.2vh;
    height: 2vh;
    font-size: 2.8vh;
}
.mobileMainBottomContainerTitle3 {
    font-size: 2vh;
}
.mobileMainBottomContainerBufferGraphs {
    margin-top: 7vh;
}
